In [12]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("timeslots.csv",parse_dates=['Day', 'Timestamp UTC ms', 'Time'])
df.head()

,Day,Timestamp UTC ms,Time,Place,Room,Activity,Activity Category,Duration ms,Steps,Move,Device
0,2018-07-20,1532046429168,2018-07-20 16:27:09,上海市闸北区晋城路663弄,NaN,phone: Smarter Time,Personal Life,39,0,NOMOVE,Letv X500
1,2018-07-20,1532046429207,2018-07-20 16:27:09,上海市闸北区晋城路663弄,NaN,phone: 浏览器,Art & Entertainment,3343268,0,NOMOVE,NaN
2,2018-07-20,1532049772475,2018-07-20 17:22:52,上海市闸北区晋城路663弄,NaN,phone: 手机淘宝,Chores,133130,0,NOMOVE,Letv X500
3,2018-07-20,1532049905605,2018-07-20 17:25:05,上海市闸北区晋城路663弄,NaN,phone: 浏览器,Art & Entertainment,55825,0,NOMOVE,NaN
4,2018-07-20,1532049961430,2018-07-20 17:26:01,上海市闸北区晋城路663弄,NaN,phone: Google Play 商店,Art & Entertainment,125092,0,NOMOVE,Letv X500

In [86]:
df_ = df[df['Day']>df['Day'][0]]
df_.drop(columns=['Timestamp UTC ms', 'Steps', 'Move'])
df_['Duration_min'] = df_['Duration ms']/60000
df_ = df_[df_['Activity']!=nan]
df_.head()

,Day,Time,Place,Room,Activity,Activity Category,Duration ms,Device
20,2018-07-21,2018-07-21 08:00:00,NaN,NaN,NaN,No category,20515313,NaN
21,2018-07-21,2018-07-21 13:41:55,NaN,NaN,NaN,No category,2850439,NaN
22,2018-07-21,2018-07-21 14:29:25,NaN,NaN,NaN,No category,14433874,NaN
23,2018-07-21,2018-07-21 18:29:59,上海市闸北区晋城路663弄,NaN,vehicle,Transport,3211699,NaN
24,2018-07-21,2018-07-21 19:23:31,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,115990,Letv X500
25,2018-07-21,2018-07-21 19:25:27,上海市闸北区晋城路663弄,NaN,phone: 微博,Social,742824,Letv X500
26,2018-07-21,2018-07-21 19:37:50,上海市闸北区晋城路663弄,NaN,vehicle,Transport,1178747,NaN
27,2018-07-21,2018-07-21 19:57:28,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,190603,XYH_PC
28,2018-07-21,2018-07-21 20:00:39,上海市闸北区晋城路663弄,NaN,computer: bilibili.com,No category,320680,XYH_PC
29,2018-07-21,2018-07-21 20:06:00,上海市闸北区晋城路663弄,NaN,vehicle,Transport,286956,NaN
30,2018-07-21,2018-07-21 20:10:47,上海市闸北区晋城路663弄,NaN,computer: bilibili.com,No category,218345,XYH_PC
31,2018-07-21,2018-07-21 20:14:25,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,394674,XYH_PC
32,2018-07-21,2018-07-21 20:21:00,上海市闸北区晋城路663弄,NaN,vehicle,Transport,242090,NaN
33,2018-07-21,2018-07-21 20:25:02,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,248029,XYH_PC
34,2018-07-21,2018-07-21 20:29:10,上海市闸北区晋城路663弄,NaN,computer: bilibili.com,No category,277575,XYH_PC
35,2018-07-21,2018-07-21 20:33:47,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,121346,Letv X500
36,2018-07-21,2018-07-21 20:35:49,上海市闸北区晋城路663弄,NaN,vehicle,Transport,332125,NaN
37,2018-07-21,2018-07-21 20:41:21,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,849711,XYH_PC
38,2018-07-21,2018-07-21 20:55:31,上海市闸北区晋城路663弄,NaN,computer: bilibili.com,No category,202087,XYH_PC
39,2018-07-21,2018-07-21 20:58:53,上海市闸北区晋城路663弄,NaN,vehicle,Transport,201990,NaN
40,2018-07-21,2018-07-21 21:02:15,上海市闸北区晋城路663弄,NaN,lesson,Professional Life,1074639,XYH_PC
41,2018-07-21,2018-07-21 21:20:09,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,65929,Letv X500
42,2018-07-21,2018-07-21 21:21:15,上海市闸北区晋城路663弄,NaN,computer: chrome,Professional Life,244559,XYH_PC
43,2018-07-21,2018-07-21 21:25:20,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,503880,XYH_PC
44,2018-07-21,2018-07-21 21:33:44,上海市闸北区晋城路663弄,NaN,computer: google.com,Professional Life,220393,XYH_PC
45,2018-07-21,2018-07-21 21:37:24,上海市闸北区晋城路663弄,NaN,computer: Leanote,Professional Life,196102,XYH_PC
46,2018-07-21,2018-07-21 21:40:40,上海市闸北区晋城路663弄,NaN,phone: 网易云音乐,Art & Entertainment,1029451,Letv X500
47,2018-07-21,2018-07-21 21:57:50,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,50177,Letv X500
48,2018-07-21,2018-07-21 21:58:40,上海市闸北区晋城路663弄,NaN,phone: 网易云音乐,Art & Entertainment,184517,Letv X500
49,2018-07-21,2018-07-21 22:01:44,上海市闸北区晋城路663弄,NaN,phone: 微博,Social,54117,Letv X500
...,...,...,...,...,...,...,...,...
952,2018-08-03,2018-08-04 02:47:26,home,bathroom,brush teeth,Health & Hygiene,337446,NaN
953,2018-08-03,2018-08-04 02:53:03,home,bathroom,brush teeth,Health & Hygiene,1016444,NaN
954,2018-08-03,2018-08-04 03:10:00,home,bathroom,brush teeth,Health & Hygiene,469511,NaN
955,2018-08-03,2018-08-04 03:17:49,home,bathroom,brush teeth,Health & Hygiene,914594,NaN
956,2018-08-03,2018-08-04 03:33:04,home,bathroom,shower,Health & Hygiene,274389,NaN
957,2018-08-03,2018-08-04 03:37:38,home,bathroom,shower,Health & Hygiene,380041,NaN
958,2018-08-03,2018-08-04 03:43:58,NaN,NaN,phone: 网易云音乐,Art & Entertainment,113495,Letv X500
959,2018-08-03,2018-08-04 03:45:52,home,NaN,study: deeplearning,Professional Life,132616,NaN
960,2018-08-03,2018-08-04 03:48:04,home,NaN,study: deeplearning,Professional Life,629256,NaN
961,2018-08-03,2018-08-04 03:58:33,NaN,NaN,phone: 网易云音乐,Art & Entertainment,101854,Letv X500
962,2018-08-03,2018-08-04 04:00:15,NaN,NaN,NaN,No category,2435608,NaN
963,2018-08-03,2018-08-04 04:40:51,NaN,NaN,phone: 懂球帝,No category,434998,Letv X500
964,2018-08-03,2018-08-04 04:48:06,home,NaN,study: deeplearning,Professional Life,3535508,NaN
965,2018-08-03,2018-08-04 05:47:01,home,NaN,study: deeplearning,Professional Life,241261,NaN
966,2018-08-03,2018-08-04 05:51:03,home,NaN,study: deeplearning,Professional Life,634906,NaN
967,2018-08-03,2018-08-04 06:01:38,home,bedroom,Study: NJAI,Professional Life,1788787,NaN
968,2018-08-03,2018-08-04 06:31:26,home,bedroom,Study: NJAI,Professional Life,495911,NaN
969,2018-08-03,2018-08-04 06:39:42,home,bedroom,Study: NJAI,Professional Life,467982,NaN
970,2018-08-03,2018-08-04 06:47:30,home,bedroom,Study: NJAI,Professional Life,1798700,NaN
971,2018-08-03,2018-08-04 07:17:29,home,bedroom,Study: NJAI,Professional Life,610267,NaN
972,2018-08-03,2018-08-04 07:27:39,home,bedroom,Study: NJAI,Professional Life,1940221,NaN
973,2018-08-04,2018-08-04 08:00:00,home,bedroom,Study: NJAI,Professional Life,2239285,NaN
974,2018-08-04,2018-08-04 08:37:19,home,bedroom,Study: NJAI,Professional Life,323198,NaN
975,2018-08-04,2018-08-04 08:42:42,home,bedroom,Study: NJAI,Professional Life,2744917,NaN
976,2018-08-04,2018-08-04 09:28:27,home,bedroom,sleep,Resting,16984315,NaN
977,2018-08-04,2018-08-04 14:11:31,home,bedroom,brush teeth,Health & Hygiene,13009,NaN
978,2018-08-04,2018-08-04 14:11:44,home,bedroom,brush teeth,Health & Hygiene,23448,NaN
979,2018-08-04,2018-08-04 14:12:08,home,bedroom,brush teeth,Health & Hygiene,6052,NaN
980,2018-08-04,2018-08-04 14:12:14,home,bedroom,brush teeth,Health & Hygiene,48806,NaN
981,2018-08-04,2018-08-04 14:13:03,home,bedroom,brush teeth,Health & Hygiene,3610,NaN

E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

NameError: name 'nan' is not defined

In [93]:
pd.isnull(df_['Activity'][869])

True

In [98]:
def act_split(strings, index=0):
    if pd.isnull(strings):
        return 'NaN'
    strings = strings.split(': ')
    if len(strings)==1:
        if index == 0:
            return strings[index]
        else:
            return 'NaN'
    return strings[index]

In [101]:
df_['act1']= df_['Activity'].apply(act_split)
df_['act2']= df_['Activity'].apply(act_split, index=1)

E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [136]:
def activity_data(df, n=10):
    _ = []
    for i in range(n):
        children = json.dumps(dict({'name': df.iloc[i].act2,
        'value': df.iloc[i].Duration_min}))
        _.append(dict({'name': df.iloc[i].act1,
        'children': [children]}))
    return _

In [137]:
import json
json.dumps(activity_data(df_))
with open('data.json', 'w') as f:
    json.dump(activity_data(df_), f)

'[{"name": "NaN", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 341.9218833333333}"]}, {"name": "NaN", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 47.50731666666667}"]}, {"name": "NaN", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 240.56456666666668}"]}, {"name": "vehicle", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 53.52831666666667}"]}, {"name": "phone", "children": ["{\\"name\\": \\"\\\\u5fae\\\\u4fe1\\", \\"value\\": 1.9331666666666667}"]}, {"name": "phone", "children": ["{\\"name\\": \\"\\\\u5fae\\\\u535a\\", \\"value\\": 12.3804}"]}, {"name": "vehicle", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 19.645783333333334}"]}, {"name": "computer", "children": ["{\\"name\\": \\"Leanote\\", \\"value\\": 3.1767166666666666}"]}, {"name": "computer", "children": ["{\\"name\\": \\"bilibili.com\\", \\"value\\": 5.344666666666667}"]}, {"name": "vehicle", "children": ["{\\"name\\": \\"NaN\\", \\"value\\": 4.7826}"]}]'

In [134]:
activity_data(df_)

[{'children': ['{"name": "NaN", "value": 341.9218833333333}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 47.50731666666667}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 240.56456666666668}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 53.52831666666667}'],
  'name': 'vehicle'},
 {'children': ['{"name": "\\u5fae\\u4fe1", "value": 1.9331666666666667}'],
  'name': 'phone'},
 {'children': ['{"name": "\\u5fae\\u535a", "value": 12.3804}'],
  'name': 'phone'},
 {'children': ['{"name": "NaN", "value": 19.645783333333334}'],
  'name': 'vehicle'},
 {'children': ['{"name": "Leanote", "value": 3.1767166666666666}'],
  'name': 'computer'},
 {'children': ['{"name": "bilibili.com", "value": 5.344666666666667}'],
  'name': 'computer'},
 {'children': ['{"name": "NaN", "value": 4.7826}'], 'name': 'vehicle'}]

In [119]:
df_.head()

,Day,Timestamp UTC ms,Time,Place,Room,Activity,Activity Category,Duration ms,Steps,Move,Device,Duration_min,act1,act2
20,2018-07-21,1532102400000,2018-07-21 08:00:00,NaN,NaN,NaN,No category,20515313,0,NOMOVE,NaN,341.921883,NaN,NaN
21,2018-07-21,1532122915313,2018-07-21 13:41:55,NaN,NaN,NaN,No category,2850439,0,NOMOVE,NaN,47.507317,NaN,NaN
22,2018-07-21,1532125765752,2018-07-21 14:29:25,NaN,NaN,NaN,No category,14433874,0,NOMOVE,NaN,240.564567,NaN,NaN
23,2018-07-21,1532140199626,2018-07-21 18:29:59,上海市闸北区晋城路663弄,NaN,vehicle,Transport,3211699,0,NOMOVE,NaN,53.528317,vehicle,NaN
24,2018-07-21,1532143411325,2018-07-21 19:23:31,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,115990,0,NOMOVE,Letv X500,1.933167,phone,微信

In [39]:
geo = pd.read_csv('geoloc.csv',header=0,index_col=False)#,parse_dates=['Date','Timestamp UTC ms', 'Time'])
geo.head()

,Date,Timestamp UTC ms,Time,Latitude,Longitude,Place,MoveAccuracy
0,20180720,1532046419584,Fri Jul 20 08:26:59 GMT+08:00 2018,31.282195,121.420411,上海市闸北区晋城路663弄,MOVE_NOMOVE
1,20180720,1532050072000,Fri Jul 20 09:27:52 GMT+08:00 2018,31.283154,121.420639,阳城世家苑,MOVE_NOMOVE
2,20180720,1532075852920,Fri Jul 20 16:37:32 GMT+08:00 2018,31.282933,121.420586,上海市闸北区晋城路663弄,MOVE_NOMOVE
3,20180720,1532078334130,Fri Jul 20 17:18:54 GMT+08:00 2018,31.281980,121.420067,上海市闸北区晋城路663弄,MOVE_NOMOVE
4,20180720,1532081682000,Fri Jul 20 18:14:42 GMT+08:00 2018,31.282933,121.420586,上海市闸北区晋城路663弄,MOVE_NOMOVE

In [31]:
geo.Place.unique()

array(['MOVE_NOMOVE', 'MOVE_VEHICLE'], dtype=object)

In [104]:
dict('name','a')

TypeError: dict expected at most 1 arguments, got 2